@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.superblue {
    background-color: #1f2937;
    padding: 0px 100px;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.title {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}
.headerlist{
    display: flex;
    gap: 16px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

.subheader {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 100px 0px;
}

.skibropic {
    display: flex;
    height: auto;
    width: 100%;
    flex: 2 0 auto;
    border-radius: 25px;
    flex-grow: 2;
}

.subleft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 420px;
    gap: 8px;
}

.subright {
    max-width: 600px;
    display: flex;
    align-items: center;
}

.upperbutton {
    padding: 8px 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.bigwords {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subcaption {
    font-size: 18px;
    color: #E5E7EB;
}

.infozone {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.randoinfo {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourboxes {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.smallpic {
    width: 100%;
    border-radius: 8px;
}

.captions {
    text-align: center;
    padding: 8px;
}

.smallpicdimensions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
}

.quoteland {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 250px;
    background-color: #E5E7EB;
}

.moneyquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quoteauthor {
    display: flex;
    margin-left: auto;
    font-size: 24px;
    font-weight: 700;
}

.shamelessmarketing {
    background-color: #3882f6;
    margin: 100px;
    padding: 32px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #1f2937;
    font-size: 14px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.lowerbutton {
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid white;
}

#marketingcaption{
    color: #F9FAF8;
}
.recenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerlink {
    color: #E5E7EB;
    text-decoration: none;
}